:root {
  --desktop-item-panel-max-width: 300px;
  --desktop-item-panel-min-width: 200px;
  --desktop-large-panel-width: 900px;
  --desktop-panel-min-height: 200px;
  --desktop-panel-max-height: 600px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 1001;
  position: fixed;
  border-bottom: 2px solid var(--color-neutral-300);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
  'hamburger brand search tools' var(--nav-height)
  'important-links important-links important-links important-links' 1fr / auto auto 1fr auto;
  align-items: center;
  gap: 0 16px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--type-base-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'brand hamburger' var(--nav-height)
    'important-links important-links' 1fr / 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* nav dropdown panels */
header nav .nav-tools-panel {
  z-index: 100;
  position: absolute;
  box-shadow: var(--shape-shadow-2);
  background: var(--background-color);
  right: 0;
  top: var(--nav-height);
  width: 100%;
  display: none;
  box-sizing: border-box;
}

header nav .nav-tools-panel--show {
  display: block;
}

header nav .nav-tools {
  grid-area: tools;
}

@media (min-width: 900px) {
  header nav .nav-tools-wrapper {
    position: relative;
  }

  header nav .nav-tools-panel {
    top: calc(-10px + var(--nav-height));
    width: 398px;
  }
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  cursor: pointer;
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-neutral-50);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */

header nav .nav-brand {
  grid-area: brand;
}

header nav .nav-brand,
header nav .nav-brand .default-content-wrapper,
header nav .nav-brand a,
header nav .nav-brand p {
  min-width: 96px;
  height: 100%;
}

header nav .nav-brand a {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  font-weight: bold;
}

header nav .nav-brand img {
  margin: 5% 0;
  width: 96px;
  height: 80%;
  object-fit: contain;
}

/* search bar */

header nav .nav-search-bar {
  grid-area: search;
  background: #f2f2f2;
}

header nav .nav-search-bar .search-bar-wrapper {
  position: relative;
}

header nav .nav-search-bar,
header nav .nav-search-bar .search-bar-wrapper,
header nav .nav-search-bar .search-bar-wrapper .search-bar-form {
  display: flex;
  flex: 1 1 0;
  min-width: 192px;
}

header nav .nav-search-bar .search-bar-wrapper .search-bar-form {
  border: 1px solid rgb(0 0 0 / 10%);
}

header nav .nav-search-bar .search-bar-wrapper .search-bar-input {
  flex: 1 1 0;
  min-width: 192px;
  padding: 5px;
  line-height: 1;
}

header nav .nav-search-bar .search-bar-wrapper .search-bar-input, 
header nav .nav-search-bar .search-bar-wrapper .search-bar-button{
  border: 0;
  background: transparent;
}

header nav .nav-search-bar .search-bar-wrapper .search-bar-form .search-bar-button {
  background-image: url('../../icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  width: 3.5rem;
  min-width: 3.5rem;
}

header nav .nav-search-bar .search-bar-wrapper .search-bar-result-panel {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #949494;
  box-shadow: 0 4px 12px rgb(0 0 0 / 40%);
  padding: 12px;
  z-index: 9999;
  box-sizing: border-box;
  overflow: auto;
}

header nav .nav-search-bar .search-bar-wrapper .search-bar-result-panel .product-discovery-product-list__grid {
  grid-template-columns: repeat(4, 1fr) !important;
}

@media (max-width: 900px) {
  header nav[aria-expanded='true'] .nav-search-bar {
    display: none;
    visibility: hidden;
  }
}

/* important-links */
header nav .nav-important-links {
  grid-area: important-links;
  display: none;
  visibility: hidden;
}

@media (max-width: 900px){
  header nav[aria-expanded='true'] .nav-important-links {
    display: block;
    visibility: visible;
    align-self: start;

    & li,
    & li > a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #00018a;

      &:hover {
        color: #00018a;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

header nav .nav-important-links ul {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  list-style: none;
  padding-left: 0;
}

header nav .nav-important-links ul > li,
header nav .nav-important-links ul > li > a {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
}

@media (min-width: 900px) {
  header nav .nav-important-links {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }
  
  header nav .nav-important-links ul {
    display: flex;
    gap: 48px;
    margin: 0;
  }

  header nav .nav-important-links ul > li,
  header nav .nav-important-links ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00018a;

    &:hover {
      color: #00018a;
    }

    & > img {
      height: calc(var(--nav-height) * 0.4);
      width: auto;
    }
  }
}

/* auth dropdown panel */
.dropdown-wrapper.nav-tools-wrapper .nav-dropdown-button {
  font: var(--type-headline-2-default-font) !important;
  letter-spacing: var(--type-body-1-default-letter-spacing) !important;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  min-width: 40px;
  color: #00018a;
}

.dropdown-wrapper.nav-tools-wrapper .nav-dropdown-button:hover {
  text-decoration: underline;
}

@media (min-width: 900px){
  .dropdown-wrapper.nav-tools-wrapper .nav-dropdown-button {
    font: var(--type-body-2-strong-font) !important;
    flex-direction: column;
    gap: 0;
  }
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
  font: var(--type-body-1-default-font) !important;
  letter-spacing: var(--type-body-1-default-letter-spacing) !important;
}

@media (max-width: 900px){
  header nav .nav-important-links ul > li .nav-tools-wrapper {
    width: 100%;
    position: relative;
  }

  .dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
    width: 398px;
  }
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu > li {
  padding: 0;
  margin: 0;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li > a,
.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li > button {
  cursor: pointer;
  background-color: transparent !important;
  padding: 12px 15px !important;
  display: inline-block !important;
  width: 100% !important;
  text-decoration: none !important;
  color: var(--color-neutral-900);
  font: var(--type-body-1-strong-font) !important;
  letter-spacing: var(--type-body-1-strong-letter-spacing) !important;
  margin: 0 !important;
  text-align: start !important;
  box-sizing: border-box !important;
  border: none !important;
  border-radius: 0 !important;
}

.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li > a:hover,
.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel .authenticated-user-menu li > button:hover {
  background-color: lightgray !important;
  border-radius: 0 !important;
}

/* tools (minicart) */
header nav .nav-tools button.nav-cart-button {
  min-width: calc(80px + (var(--nav-height) * 0.7));
  height: calc(var(--nav-height) * 0.7);
  display: flex;
  padding: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
  color: var(--color-brand-700);
  border: unset;
  cursor: pointer;
}

header nav .nav-tools button.nav-cart-button .nav-cart-icon {
  min-width: calc(var(--nav-height) * 0.7);
  max-width: calc(var(--nav-height) * 0.7);
  background-color: #00018a;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-tools button.nav-cart-button .nav-cart-value {
  display: flex;
  flex-direction: column;
  font: var(--type-body-1-medium-font);
  font-size: 0.7em;
  background-color: white;
  border-radius: 0 5px 5px 0;

  & > span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: calc((var(--nav-height) * 0.7) * 3 / 5);
    min-width: 80px;
    text-align: right;
    padding: 0 10px 0 0;
  }

  & > span:last-child {
    height: calc((var(--nav-height) * 0.7) * 2 / 5);
    border-top: 1px solid rgb(0 0 0 / 50%);
    color: rgb(0 0 0 / 50%);
  }
}

.cart-mini-cart:not(:has(.cart-empty-cart)) {
  max-height: 760px;
  min-height: 360px;
}

@media (max-height: 819px) {
  .cart-mini-cart:not(:has(.cart-empty-cart)) {
    max-height: calc(100vh - var(--nav-height));
  }
}

/* overlay */
.overlay {
  background-color: rgb(0 0 0 / 50%) !important;
  display: none;
  inset: 0;
  position: fixed;
  z-index: 2;
}

.overlay.show {
  display: block;
}

@media (max-width: 899px) {
  header .nav-wrapper.active,
  header .nav-wrapper:has(nav[aria-expanded='true']) {
    width: 320px;
  }

  header .nav-wrapper.active nav .nav-hamburger button,
  header .nav-wrapper:has(nav[aria-expanded='true']) nav .nav-hamburger button {
    position: fixed;
    left: 275px;
    z-index: 5;
  }

  header nav[aria-expanded='true'] {
    gap: 40px var(--spacing-small);
    overflow-x: hidden;
    width: 320px;
  }

  header nav[aria-expanded='true'] .nav-tools {
    display: none;
    visibility: hidden;
  }

  header nav .nav-important-links ul {
    margin: 0;
  }

  header nav .nav-important-links ul li {
    padding: var(--spacing-small) 0;
  }

  header nav .nav-important-links ul li,
  header nav .nav-important-links ul li a {
    font: var(--type-headline-2-default-font);
  }

  header nav .nav-important-links ul li:empty {
    display: none;
  }
}
