.navbar-wrapper {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  background: var(--color-accent);
  font-family: var(--type-base-font-family);
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.navbar .nb-root {
  display: flex;
  padding: 0;
  list-style: none;
  height: 50px;
  width: 100%;
  margin: 0;
  gap: 2.5vw;
  position: relative;
}

.navbar .nb-level-1 {
  position: relative;
  color: white;
  font-size: 14px;
  display: flex;
  padding: 0.25rem 3rem;
  box-sizing: border-box;
  height: 100%;
}

.navbar .nb-level-1 > .nb-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;
}

.navbar .nb-level-1.has-children > .nb-link {
  position: relative;
  padding-right: 20px;
}

.navbar .nb-level-1.has-children > .nb-link::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 52.5%;
  font-size: 12px;
  transform: translateY(-50%);
  transition: transform 0.25s ease;
  opacity: 0.9;
}

.navbar .nb-level-1.has-children:hover > .nb-link::after,
.navbar .nb-level-1.has-children.open > .nb-link::after {
  content: "▲";
}

.navbar .nb-submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 56%;
  background: var(--color-neutral-50);
  border: 1px solid #ddd;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  min-width: 200px;
  max-width: 90vw;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1000;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.navbar .nb-item.open > .nb-submenu,
.navbar .nb-item:hover > .nb-submenu,
.navbar .nb-item:focus-within > .nb-submenu {
  display: block;
}

.navbar .nb-submenu .nb-item {
  display: block;
  position: relative;
}

.navbar .nb-submenu .nb-link {
  display: block;
  padding: 8px 28px;
  color: inherit;
  text-decoration: none;
  transition: color 200ms ease, background-color 200ms ease;
}

.navbar .nb-submenu .nb-link:hover,
.navbar .nb-submenu .nb-item.open > .nb-link {
  color: var(--color-accent);
  background: var(--color-neutral-200);
}

.navbar .nb-submenu .nb-submenu {
  position: absolute;
  left: 100%;
  top: -57%; 
  min-width: 200px;
}

.navbar .nb-submenu .nb-item.has-children > .nb-link {
  position: relative;
  padding-right: 40px;
}

.navbar .nb-submenu .nb-item.has-children > .nb-link::after {
  content: "›";
  position: absolute;
  right: 6px;
  color: var(--color-accent);
  top: 45%;
  font-size: 28px;
  transform: translateY(-50%);
  opacity: 0.7;
  font-weight: 700;
  transition: transform 0.25s ease;
}

.navbar .nb-submenu .nb-item.has-children:hover > .nb-link::after,
.navbar .nb-submenu .nb-item.open > .nb-link::after {
  transform: translateY(-50%) translateX(2px);
  opacity: 1;
}

.navbar .nb-item-tiles {
  position: static !important;
}

.navbar .nb-submenu-tiles {
  width: 100%;
  max-width: 1200px !important;
  padding: 20px;
}

.navbar .nb-item.open > .nb-submenu-tiles,
.navbar .nb-item:hover > .nb-submenu-tiles,
.navbar .nb-item:focus-within > .nb-submenu-tiles {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.navbar .nb-submenu-tiles .nb-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-neutral-300);
}

.navbar .nb-submenu-tiles .nb-item > picture > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.navbar .nb-submenu-tiles .nb-item .nb-link,
.navbar .nb-submenu-tiles .nb-item .nb-label {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  white-space: wrap;
  background-color: rgb(0 0 0 / 60%);
  font: var(--type-base-font-family);
  text-align: center;
  color: white;
  transition: color 0.2s ease;
}

.navbar .nb-submenu-tiles .nb-item .nb-link:hover {
  color: var(--color-accent);
}

@media (min-width: 900px) {
  .navbar {
    max-width: 1200px;
    box-sizing: border-box;
  }

  .navbar-wrapper {
    padding: 0 32px;
  }
}