@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-300-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-300-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-400-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-400-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-500-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-500-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-600-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-600-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-700-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-700-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-800-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-800-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-900-italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/source-sans-3-latin-ext-900-normal.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 900;
}
